<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b8dfb920-2c2e-4c88-adea-5b095b0d4e23/resourcegroups/TotalWellness_RG/providers/Microsoft.Web/sites/TotalWellness20220216201546</ResourceId>
    <ResourceGroup>TotalWellness_RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://totalwellness20220216201546.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>totalwellness20220216201546.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TotalWellness20220216201546</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$TotalWellness20220216201546</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:totalwellnessdbserver.database.windows.net,1433;Initial Catalog=TotalWellness_db;User ID=arfellows@totalwellnessdbserver;Password=Kyleigh1226" Name="Data Source=tcp:totalwellnessdbserver.database.windows.net,1433;Initial Catalog=TotalWellness_db;User Id=arfellows@totalwellnessdbserver;Password=Kyleigh1226" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TotalWellness.Data.ApplicationDbContext, TotalWellness.Data" MigrationConfiguration="TotalWellness.Data.Migrations.Configuration, TotalWellness.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:totalwellnessdbserver.database.windows.net,1433;Initial Catalog=TotalWellness_db;User Id=arfellows@totalwellnessdbserver;Password=Kyleigh1226</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>